.textfield-zip {
    clear: both;
}

.dropdown_state {
    width: 100%;
}

.checkout--deliveryinfo-actions {
    clear: both;
}

.checkout-section.disabled{
    cursor: unset;
    opacity: 0.6;
    transition: opacity 0.1s linear 0s;
    pointer-events: none;
}

.contact-info{
    margin: 20px 0;
}

.contact-info p {
    font-size: 22px;
    font-family: 'AvenirLTProHeavy';
    line-height: 30px;
    color: #333;
    margin: 0;
}

.contact-option {
    margin-bottom: 10px;
}

.contact-option label {
    font-size: 18px;
    font-family: 'AvenirLTProRoman';
}

.contact-option > label {
    margin-right: 70px;
}

.contact-option span.Polaris-Checkbox__Backdrop {
    width: 24px;
    height: 24px;
    background: transparent;
}

.checkout--form-container {
    display: flex;
    gap: 20px;
}

.checkout--deliveryinfo-top .contact-option .Polaris-Choice__Label {
    font-size: 16px !important;
    font-weight: bold;
}

section.checkout--deliveryinfo-top .ha-h5 {
    padding: 20px 0;
}

.contact-option.edit-state {
    margin-bottom: 40px;
}

.contact-option.edit-state .checkbox-temp {
    padding-top: 1rem;
}

@media screen and (max-width: 960px) {
    /* .place-order-container {
        position: absolute;
        bottom: -130%;
        z-index: 999999;
        left: 0;
        width: 95%;
        margin: 1rem;
    } */

    .place-order-container .btn.btn-primary-small{
        width: 100%;
    }
}