.dish-card {
    cursor: pointer;
    position: relative;
    width: 406px;
    transition: box-shadow 0.5s;
    border: 3px solid transparent;
}

    .dish-card:hover {
        /* box-shadow: 2px 1px 10px #aaa; */
        border: 3px solid #385F83;
        border-radius: 20px;
    }

    .dish-card.active, .dish-card.confirmed {
        /* border: 4px solid #2F80ED; */
        opacity: 1;
    }

    .dish-card.disabled {
        cursor: unset;
        opacity: 0.6;
        transition: opacity 0.1s linear 0s;
        pointer-events: none;
    }

.dish-image { 
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card__quantity-img  {
    width: 50px;
}

.card__info-section {
    padding: 20px;
    margin-top: -6px;
    border-radius: 0 0 20px 20px;
    min-height: 200px;
}

.card__quantity-section {
    clear: both;
    text-align: center;
    width: 225px;
    margin: 0 auto 35px;
}

    .card__quantity-count {
        color: #4F4F4F;
        font-size: 42px;
        font-family: 'AvenirLTProRoman';
        font-weight: bold;
    }
        .card__quantity-count.zero {
            color: #4F4F4F;
        }

    .card__quantity-img.minus  {
        float: left;
        /* margin-top: -16px; */
    }

    .card__quantity-img.plus  {
        float: right;
        /* margin-top: -16px; */
    }

.card__info-section h2, .card__quantity-title {
    font-size: 26px;
    font-family: 'ITCGaramondBold' !important;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

.card__info-section p.dish-description{
    font-family: 'AvenirLTProRoman' !important;
    text-transform: lowercase;
    font-weight: 100;
    font-size: 18px;
    position: relative;
    margin: 0;
    line-height: 25px;
}
    

.card__actions {
    clear: both;
    display: flex;
    justify-content: center;
    width: 345px;
}

.btn-card {
    padding: 5px 25px;
    float: left;
}

    .btn-customize {
        background-color: unset;
        border: none;
        color:#2D9CDB;
        text-decoration: underline;
    }

        .btn-customize:hover {
            text-decoration: none;
        }

.card__quantity-badge {  
    background: #385F83;
    border-radius: 26px;
    color: white;
    font-size: 16px;
    top: 4px;
    right: 4px;
    /* left: 250px; */
    /* margin-top: -30px; */
    padding: 9px 13px;
    position: absolute;
    width: 35px;
    height: 35px;
    font-family: 'AvenirLTProRoman';
    font-weight: bold;
}

.card__servings-disclaimer {
    clear: both;
    font-style: italic;
    float: right;
    font-weight: bold;
    right: 2rem;
}

.card__info-section p.card__servings-disclaimer {
    display: inline;
    color: #474442;
    font-family: 'AvenirLTProRoman';
    font-size: 16px;
    position: absolute;
    bottom: 8px;
}

.card__quantity-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #F8EFE0;
    border-radius: 20px;
    padding: 2em;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 2.875rem;
}

.card__info-top-info{
    position: absolute;
    top: 30px;
}

.card__quantity-inner-container h2 {
    padding-bottom: 1em;
    font-weight: bold;
}

.card__quantity-inner-container {
    position: absolute;
    top: 28px;
    left: 28px;
}

.card__quantity-field-wrapper {
    position: relative;
    /* left: 50%;
    top: 75%;
    transform: translate(-50%, -60%); */
}

.dish-card.active{
    opacity: 1;
}

.dish-card.active .card__servings-disclaimer {
    text-align: center !important;
    float: none;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    bottom: 30px;
    display: none;
}

.dish-card.active .card__info-section p.card__code {
    display: none !important;
}

p.card__code {
    position: absolute;
    bottom: 8px;
}

.modal--card__info p.card__code {
    position: relative;
    bottom: 0 !important;
}

.btn-counter-customize{
    font-size: 18px !important;
    line-height: 22px !important;
    font-family: ITCAvantGardeProDemi !important;
    text-transform: uppercase !important;
    background: transparent !important;
    padding-left: 20px !important;
    text-decoration: underline !important;
    border: none;
    cursor: pointer;
}

    .btn-counter-customize.disabled {
        opacity: 0.6;
        pointer-events: none;
    }

.btn-counter-confirm{
    padding: 16px 40px 12px !important;
}

.Polaris-Modal-Dialog__Modal {
    background: #FFFCF5;
    padding: 0em;
    position: relative;
}

.modal--customize-inner .card__quantity-section {
    margin: 30px 0 0;
}

button.Polaris-Modal-CloseButton {
    position: absolute;
    right: 10px;
    top: 10px;
}

.modal--customize-options{
    background-color: #F8EFE0 !important;
    padding: 2em;
    border-radius: 0 0 12px 12px;
    /* position: absolute;
    bottom: 0; */
}

section.modal--customize-inner {
    padding: 2em;
    border-radius: 12px 12px 0 0;
}

section.modal--customize-disclaimer span:first-child {
    font-weight: bold;
    display: inline-block;
    width: 100%;
    padding-bottom: 5px;
}

section.modal--customize-disclaimer span {
    font-style: italic;
}

.modal--card-quantity .card__servings-disclaimer {
    text-align: center;
    margin: 20px;
    float: none;
}

section.modal--customize-actions {
    display: flex;
    justify-content: space-between;
    padding: 2em 0 0;
    align-items: center;
}

.modal--customize-cost {
    flex: 1;
    text-align: center;
    font-size: 20px;
}

.modal--customize-cost span{
    font-weight: bold;
}

img.card__quantity-img {
    cursor: pointer;
}

section.modal--customize-disclaimer {
    font-size: 16px;
    line-height: 24px;
    font-family: 'AvenirLTProRoman';
}

.modal--customize-option-placeholder > * {
    flex: 50%;
    padding: 10px 0;
}

.modal--customize-option-placeholder {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}

span.Polaris-Checkbox__Backdrop {
    background: #F8EFE0;
    height: 30px;
    width: 30px;
    border: 2px solid #474442;
}

span.Polaris-Checkbox {
    align-items: center;
    display: flex;
}

.Polaris-Choice__Label{
    font-size: 18px !important;
}

.Polaris-Choice__Control{
    width: 30px;
}

section.modal--customize-inner .card__quantity-title {
    padding-bottom: 1em;
    font-weight: bold;
}

.inactive-blur {
    opacity: 0.4;
}

.dish-card.active .card__quantity-inner-container{
    /* text-align: center; */
    position: relative;
    left: 0;
    top: 0;
}

.card__quantity-inner-container p.card__code {
    position: relative;
    bottom: 0;
}

.dish-card.active p.dish-description {
    display: none;
}

h2.card__quantity-title {
    margin: 0 !important;
    padding: 0 !important;
}

.card__quantity-inner-container p, .modal--card__info p {
    padding: 0 !important;
    margin: 0 !important;
    line-height: 25px;
    font-size: 16px;
    font-family: 'AvenirLTProRoman';
    font-style: italic;
}

.card__description {
    margin: 0;
    padding: 0 0 20px;
    line-height: 25px;
}

.modal--flexible-confirmaton *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.modal--flexible-confirmaton {
    max-width: 620px;
    padding: 0;
    background: #FFFCF5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    text-align: center;
    width: 100%;
}

.modal--flexible-confirmaton .card__actions {
    margin: auto;
    width: 100%;
    gap: 5rem;
    align-items: baseline;
}

.btn-counter-customize{
    color: #474442;
}

.modal--flexible-inner .card__actions .btn-modal-cancel {
    flex: 50%;
    background: transparent;
    border-radius: 36px;
    border: 2px solid #474442;
}

.modal--flexible-inner .card__actions .btn{
    font-size: 14px;
    flex: 1;
}

.modal--flexible-inner .subheading {
    font-size: 24px;
    color: #474442;
    line-height: 38px;
    font-family: 'AvenirLTProRoman' !important;
    margin: 0.65rem 0;
    padding: 0;
}

.modal--flexible-inner .ha-body {
    padding: 0;
    margin-bottom: 1.875rem;
}

.dishcard-extra-cost {
    background: #474442;
    border-radius: 6px;
    color: white;
    left: 0;
    padding: 7px 10px 3px;
    position: absolute;
    top: 25px;
}

.modal--flexible-confirmaton .card__quantity-field-wrapper {
    position: relative;
    left: unset;
    top: unset;
    transform: unset;
}

.modal--flexible-confirmaton .card__quantity-wrapper {
    /* min-height: 284px; */
    position: relative;
    top: unset;
    left: unset;
    background: none;
    padding: 0;
    z-index: 999999999999999;
}

.modal--flexible-confirmaton .card__quantity-inner-container {
    position: relative;
    left: unset;
    top: unset;
}

.modal--flexible-confirmaton .card__quantity-inner-wrapper {
    padding: 1.875rem 1.875rem 0 1.875rem;
    text-align: left;
}

.modal--flexible-confirmaton h2.card__quantity-title {
    font-size: 1.125rem;
    /* really need the !important here */
    font-family: 'AvenirLTProBlack' !important; 
}

.modal--flexible-confirmaton .card__quantity-subtitle {
    font-size: 1.125rem;
    font-style: normal;
}

.modal--flexible-confirmaton .card__quantity-section{
    margin: 1.875rem 0;
}

.modal--flexible-confirmaton .modal--flexible-inner {
    padding: 1.875rem;
    background: #F8EFE0;
    text-align: left;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.modal--flexible-confirmaton .modal--flexible-inner p{
    padding-bottom: 1.25rem;
    font-size: 1rem;
    font-style: italic;
}

h4.modal--flexible-heading {
    /* really need the !important here */
    font-family: 'AvenirLTProBlack' !important;
    font-size: 1rem;
    font-style: italic;
    padding-bottom: 0.625rem;
}

.modal--flexible-container {
    padding-bottom: 1.875rem;
}

.modal--flexible-confirmaton .modal--flexible-inner p.modal--flexible-price {
    font-style: normal;
    font-size: 1.125rem;
}

p.modal--flexible-price strong {
    font-family: 'AvenirLTProBlack';
}

.modal--flexible-checkbox-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.125rem;
}

@media screen and (max-width: 960px){
    .modal--flexible-checkbox-wrapper {
        display: block;
    }

    .modal--flexible-checkbox-wrapper .checkbox-temp {
        padding: 0.3rem 0;
    }

    section.card__actions {
        display: block;
        text-align: center;
    }

    .modal--flexible-confirmaton .card__actions * {
        padding: 1rem;
        width: 100%;
    }

    .ReactModal__Content.ReactModal__Content--after-open.modal--flexible-confirmaton {
        width: 95%;
        height: auto;
        overflow: auto;
    }

    .card__quantity-wrapper.wrapper-modal {
        gap: 0;
    }

    .modal--flexible-container {
        padding-bottom: 1rem;
    }

    ul.step--order-summary li {
        font-size: 16px;
        line-height: 23px;
    }
}

.modal--flexible-confirmaton input[type="checkbox"] {
    padding: 5rem;
    margin-right: 0.2rem;
    vertical-align: text-top;
}

@media screen and (max-width: 960px){
    .card__overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        background: #474442;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0.5;
    }
}
