div.footer {
    width: 100%;
    max-width: 1440px;
    position: relative;
    bottom: -10rem;
}

@media screen and (min-width: 800px){
    div.footer {
        padding-bottom: 2rem;
        padding-left: 3.5rem;
        padding-right: 8.5rem;
    }
    .footer-item:first-child {
        margin-right: 14rem;
        width: 376px;
    }

    div #_form_15_{
        padding: 0;
    }
}

.footer-item-wrapper{
    display: flex;
    justify-content: space-between;
}

.footer .sub-heading {
    font-size: 1.75rem;
    font-family: 'ITCGaramondStdBkCond';
    padding: 1.875rem 0;
}

.footer .social-wrapper {
    justify-content: flex-start;
    gap: 10px;
    display: flex;
}

ul.footer-menu li a {
    color: #474442;
    font-family: 'ITCAvantGardeProDemi';
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

ul.footer-menu li {
    padding-bottom: 16px;
    list-style: none;
}

form.subscription-form input {
    padding: 14px;
    border: none;
    border-bottom: 2px solid #474442;
    max-width: 25.4375rem;
    background: transparent;
    font-family: 'AvenirLTProRoman';
    min-width: 21.375rem;
}

.footer .subscription-form button {
    padding: 0.5rem 1.5rem 0.3rem;
    background: #474442;
    border: none;
    border-radius: 24px;
    color: #fff;
    font-family: 'ITCAvantGardeProDemi';
    text-transform: uppercase;
    margin-left: -100px;
}

ul.footer-menu {
    margin-top: -0.5rem;
}

.copyright {
    bottom: 30px;
    position: absolute;
    opacity: 0.5;
}

@media screen and (max-width: 960px){
    .copyright{
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    .footer-item-wrapper{
        flex-flow: column;
    }

    .footer-item-wrapper {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    img.footer-logo {
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .footer .sub-heading{
        text-align: center;
    }

    ul.footer-menu {
        text-align: center;
        padding: 0;
    }

    .footer-item .spacer {
        /* display: none; */
        margin-bottom: -6.875rem;
    }

    .footer-item:nth-child(2) {
        text-align: center;
        padding-bottom: 3rem;
    }

    .footer .social-wrapper{
        gap: 0;
    }
}

form#_form_15_ #email {
    color: #474442;
    font-size: 16px;
    font-family: 'AvenirLTProRoman';
    margin-bottom: 3px;
    border-bottom: none !important;
}

form#_form_15_ #email::placeholder {
    opacity: 0.8;
    font-size: 18px;
    letter-spacing: 1px;
}

#_form_15_ ._form_element{
    margin-bottom: 0 !important;
}

@media screen and (min-width: 900px){
    #_form_15_ ._submit#_form_15_submit{
    width: 149px;
    font-size: 14px !important;
    height: 35px !important;
    font-family: 'ITCAvantGardeProDemi';
}
}

@media screen and (max-width: 800px){
    #_form_15_ ._submit#_form_15_submit{
        width: 100px;
    margin-top: 5px;
    line-height: 9px;
    }
}