div.footer {
    width: 100%;
    max-width: 1440px;
    position: relative;
    bottom: -16rem;
}

.footer-item-wrapper{
    display: flex;
    justify-content: space-between;
}

.footer .sub-heading {
    font-size: 1.75rem;
    font-family: 'ITCGaramondStdBkCond';
    padding: 1.875rem 0;
}

.footer .social-wrapper {
    justify-content: flex-end;
    gap: 10px;
    display: flex;
}

ul.footer-menu li a {
    color: #474442;
    font-family: 'ITCAvantGardeProDemi';
    text-transform: uppercase;
    text-decoration: none;
}

ul.footer-menu li {
    padding-bottom: 16px;
    list-style: none;
}

form.subscription-form input {
    padding: 14px;
    border: none;
    border-bottom: 2px solid #474442;
    width: 407px;
    background: transparent;
    font-family: 'AvenirLTProRoman';
}

.footer .subscription-form button {
    padding: 0.5rem 1.5rem 0.3rem;
    background: #474442;
    border: none;
    border-radius: 24px;
    color: #fff;
    font-family: 'ITCAvantGardeProDemi';
    text-transform: uppercase;
    margin-left: -100px;
}

ul.footer-menu {
    margin-top: -0.5rem;
}

.copyright {
    bottom: 30px;
    position: absolute;
    opacity: 0.5;
}

@media screen and (max-width: 960px){
    .footer-item-wrapper{
        flex-flow: column;
    }

    .footer-item-wrapper {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    img.footer-logo {
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .footer .sub-heading{
        text-align: center;
    }

    ul.footer-menu {
        text-align: center;
        padding: 0;
    }

    .footer-item .spacer {
        /* display: none; */
        margin-bottom: -6.875rem;
    }

    .footer-item:nth-child(2) {
        text-align: center;
        padding-bottom: 3rem;
    }

    .footer .social-wrapper{
        gap: 0;
    }
}