.header {
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.1));
    height: 75px;
    background-color: #FFFCF5;
    margin-bottom: 6.25rem;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 3.75rem;
    z-index: 1;
    padding: 3px;
    margin-top: -7em;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    position: relative;
    align-items: center;
    padding: 0 4rem;
}

.header .logo img{
    width: 322px;
    margin: auto;
    vertical-align: middle;
    margin-left: -60px !important;
    image-rendering: auto !important;
}

.btn-order-cta.desktop-order-cta {
    display: block;
    padding: 0;
    line-height: 40px;
    margin-right: 0;
  }

.nav-wrapper.nav-main a {
    font-size: 15px;
}

.nav-wrapper ul {
    display: flex;
    gap: 35px;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav-wrapper ul li {
    list-style: none;
    padding-top: 0.5rem;
}

.nav-wrapper ul li a {
    color: #474442;
    text-decoration: none;
    font-family: 'ITC Avant Garde Gothic W03 Md';
}

.down {
    top: -6rem;
  }

a.my-account-trigger.nav-main {
    font-size: 15px;
}

ul.account-dropdown {
    display: flex;
    flex-flow: column;
    gap: 0;
    width: 310px;
    position: absolute;
    right: -2.2rem;
    background: #F8EFE0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.125rem;
    top: 4.5rem;
}

ul.account-dropdown li{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mobile-menu{
    display: none;
}

.mobile-menu img {
    vertical-align: middle;
}

a.btn-order-cta.mobile-order-cta {
    padding: 0.25rem 1.5rem;
    display: none;
}

.logo {
    margin: auto;
}

.btn-order-cta{
    margin-right: -15px;
    white-space: nowrap;
}

.show {
    position: sticky;
}

@media screen and (max-width: 1200px){
    .header{
        height: 4rem;
    }

    .nav-wrapper ul li{
        padding: 0;;
    }

    .nav-main{
        display: none;
    }

    .mobile-menu {
        display: flex;
        align-items: center;
    }

    .header-inner{
        padding: 0 1rem;
    }

    a.btn-order-cta.mobile-order-cta{
        display: inline-block;
        line-height: 1.75rem;
        font-size: 0.75rem;
        width: auto;
    }

    .desktop-order-cta{
        display: none;
    }

    .header .logo img{
        width: 8.5625rem;
        margin-left: 0;
    }

    .nav-wrapper ul{
        gap: 0;
    }

    .mobile-nav-wrapper {
        position: fixed;
        background: #F8EFE0;
        left: 0;
        top: 4rem;
        width: 100%;
        height: 100vh;
        display: block;
    }
    
    .logo {
        margin:-0.3rem 0 0 -4rem;
    }
}

.mobile-nav-wrapper{
    display: none;
}

.mobile-nav-wrapper.active{
    display: block;
}

.mobile-nav.mobile-nav-main {
    background: #FFFCF5;
    margin-top: -1rem;
}

.mobile-nav ul {
    padding: 0;
}

.mobile-nav ul li{
    list-style: none;
}

.mobile-nav ul li a{
    color: #474442;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

@media screen and (min-width: 961px){
    .header .logo img{
        margin: -10px -20px 0px 0
    }
}

@media screen and (max-width: 1200px) {
    .mobile-menu.mobile-hide-menu {
        display: none;
    }

    .header-inner-ordering{
        justify-content: center;
    }

    .header-inner-ordering .logo.mobile-logo-margin{
        margin: 0;
    }

    .logo.mobile-logo-margin {
        margin-left: 2rem;
    }
}

.account-dropdown li:last-child {
    opacity: 0.6;
}







