.mobile-only {
    display: none;
}

.copyright-mobile {
    display: none;
}

.order-date-label {
    display: none;
}

@media screen and (max-width: 415px) {

    /* General */
    body {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .mobile-only {
        display: unset;;
    }

    .desktop-only {
        display: none;
    }

    div.footer {
        position: unset;
        bottom: unset;
        margin-top: 4rem;
    }

    .copyright {
        display: none;
    }

    .copyright-mobile {
        display: unset;
    }

    .footer .social-wrapper {
        gap: 1rem;
        justify-content: center;
    }

    .button-group--item.filterButton:last-child {
        margin-right: 1rem;
    }

    .ReactModal__Content.ReactModal__Content--after-open.modal-entree-complete {
        padding: 2rem 1.5rem;
    }

    .ReactModal__Content.ReactModal__Content--after-open.modal-entree-complete .btn.btn-primary-small, .ReactModal__Content.ReactModal__Content--after-open.modal-entree-complete .btn.btn-secondary-small {
        font-size: 1em;
    }

    .modal-entree-complete h1 {
        font-size: 1.3em;
    }

    .modal-entree-complete h2 {
        font-size: 1em;
    }

    .modal-entree-complete p {
        font-size: 0.9em;
    }

    .dish-card-wrapper {
        padding: 1rem;
    }

    .dish-card-wrapper .accordion {
        top: 30px;
    }

    /* END General */

    /* Step One */  
    .illustration-empty {
        font-size: 1.2em;
        text-align: center;
    }

    .illustration-trad, .illustration-flex {
        display: none;
    }

    .menu--row-inner {
        margin: 5vw 2vw 0;
    }

    .illustration-section {
        padding-bottom: 1rem;
    }

    .button-group {
        margin-right: -1rem;
    }

    .dish-card-item .card__info-section {
        position: relative;
        height: 10rem;
        min-height: unset;
    }

    .dish-card-item {
        margin-bottom: 0.5rem;
    }

    .btn-modal-cancel {
        margin-top: 1rem;
    }

    .cart-meta-elements {
        position: absolute;
        bottom: 0;
    }

    .dish-card-item .card__info-section p.card__servings-disclaimer {
        display: unset;
    }

    .dish-description {
        max-height: 65px;
    }

    img.btn-close-dish-card-active {
        display: unset;
    }

    .menu-section__actions.actions--menu-section {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 3.5rem;
    }

        button.btn.btn-primary-small.btn-app {
            font-size: 1.1em;
        }

    span.delivery-window-label, .delivery-window-label.disabled {
        font-size: 1em;   
    }

    span.order-date-label {
        display: unset;
        font-size: 0.6em;
        text-align: right;
        position: absolute;
        right: 0;
        font-family: AvenirLTProRoman !important;
        font-style: italic;
    }
    

    /* .menu-section__actions.actions--submit-order {
        display: none;
    } */

    .dish-card-item .card__quantity-wrapper {
        justify-content: space-around;
        height: 50%;
        padding: 3rem 2rem 1rem;
        max-width: 22.5rem;
    }

    .card__quantity-wrapper p.card__code {
        font-size: 0.9em !important;
    }

    .dish-card-wrapper.order--properties.dishcard--wrapper-inactive:after {
        content: "";
        display: none;;
    }

    .card__actions.cancel {
        display: none;
    }

    .modal--flexible-confirmaton .card__quantity-subtitle {
        font-size: 1em;
    }

    /* END Step One */

    /* Gift Card page */
    #container--gift-card > .page {
        margin: 0 -1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background: #F8EFE0 !important;
    }
    
    .gc-wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .gc-wrapper .btn.btn-primary-small {
        width: 100%;
    }

    .gc-col-item.para-col {
        padding-top: 1rem;
    }
    
    .blog-post-section {
        margin: 0 -1rem;
    }

    .blog-post {
        min-width: 300px;
        margin-right: 1.5rem;
    }

    .blog-post_image {
        min-height: 12rem;
    }

    .blog-post-section_link > .btn.btn-tertiary-small {
        padding: 0.5rem 3rem;
        height: unset;
    }

    .blog-post-section_title {
        font-size: 3.2em;
    }

    .gc-item-column_image {
        display: unset;
        flex: 1;
    }

    .gc-item-column.gc-item-column_image > img {
        width: 100%;
    }

    .container--calculator-activator {
        text-align: center;
        padding-bottom: 1rem;
    }

    .modal--gift-card {
        padding: 2rem 1rem;
        width: 100%;
    }

    .calculator-select {
        width: 100%;
    }

    .modal--gift-card .calculator-wrapper {
        flex-direction: column;
    }

    .modal--gift-card .gift-card-control {
        flex-direction: column;
    }

    .modal--gift-card .gift-card-calculator--amount {
        font-size: 1.2em;
    }

    .modal--gift-card .gift-card-control .btn, .modal--gift-card .gift-card-control button.btn.btn-secondary.btn-modal {
        border-radius: 28px;
        height: auto;
        padding: 1rem;
    }
    /* END Gift Card page */
}

/* Tablet */
@media screen and (max-width: 1270px) and (min-width: 416px) {

    .btn-modal-cancel {
        margin-top: 1rem;
    }

    main#mainContent .dish-card-wrapper .layout {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;;
    }   

    .dish-card {
        width: unset;
        max-width: 350px;
    }

    .dish-card-item:nth-child(odd) .dish-card {
        float: right;
    }
}