.password-incorrect {
    color: red;
    text-align: left;;
}

/* Sign In */
.modal--signin-inner {
    padding: 50px 30px 30px 30px;
}

.modal--signin-lower {
    background-color: #F2F2F2;        ;
    padding: 45px 80px;
    height: 200px;
    width: 100%;
    padding-top: 20px;
}

/* Create Account */
.modal--create-inner {
    padding: 50px 30px 30px 30px;
}

/* Guest Signup */

.modal--guest-signup {
    height: 50vh;
    max-width: 40vh;
}

    .modal--guest-signup-inner {
        padding: 45px;
        height: 500px;
        width: 590px;
        padding-top: 70px;
    }

        .modal--guest-signup-inner > * {
            margin-top: 15px;
        }

.modal-heading {
    font-size: 1.4em;
    font-weight: 700;
}

.modal-subheading {
    font-size: 1.2em;
    font-weight: 500;
    padding: 10px 0;
}

.modal-text {
    font-size: 1.2em;
    font-weight: 500;
}

.modal--left-inner {
    align-items: center;
    display: flex;
    height: 350px; 
    justify-self: center;
    padding-right: 15px;
}

.modal--right {
    align-items: center;
    display: flex;
    height: 350px;
    justify-self: center;
    padding-left: 15px;
}

.modal--right > img {
    width: 100%;
    height: unset;
}

.modal--left-inner-content {

}

.btn-modal {
    margin-top: 3vh;
    width: 100%;
}

.modal-dishcard-customize {
    max-width: 620px;
    margin: 0 auto 0;
    background: transparent;
    padding: 0 !important;
    max-height: 560px;
    border-radius: 12px !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ReactModal__Overlay {
    background: #47444294 !important;
    z-index: 999;
}

section.modal--customize-inner {
    background: #FFFCF5 !important;
}

.modal-new-payment {
    width: 450px;
    margin: auto;
    border-radius: 12px !important;
    inset: 60px 0;
}

.modal--gift-card {
    width: 620px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: #FFFCF5;
    border-radius: 12px;
    padding: 2.5rem;
}

.modal--gift-card .ha-h4{
    text-transform: uppercase;
}

.modal--gift-card input::placeholder {
    color: #9E9694;
    font-family: 'AvenirLTProRoman';
}

.modal--gift-card input {
    width: 100%;
    padding: 0.875rem 1.56rem;
    border-radius: 10px;
    border: 1px solid #474442;
    color: #9E9694;
}

.modal--gift-card .calculator-wrapper {
    display: flex;
    gap: 1.25rem;
}

.modal--gift-card .gift-card-calculator--amount {
    font-size: 1.5rem;
    color: #474442;
    opacity: 0.5;
    font-style: italic;
    margin: 1.875rem;
}

.modal--gift-card .btn.btn-primary-small-disable {
    opacity: 0.5;
}

.modal--gift-card .gift-card-control {
    display: flex;
}

.modal--gift-card .gift-card-control .btn {
    height: 35px;
    padding: 0.462rem;
    font-size: 1.125rem;
}

.calculator-field label {
    color: #474442;
}

.calculator-select {
    border: 1px solid #47444275;
    border-radius: 2px;
    color: #939393;
    padding: 14px 25px;
    width: 150px;
    background: #FFFCF5;
    border-radius: 10px;
    font-family: AvenirLTProRoman;
    background-repeat: no-repeat;
    background-position: 370px center;
    background-size: 12px;
}

.modal--gift-card .gift-card-control button.btn.btn-secondary.btn-modal {
    background: transparent;
    border: 2px solid #474442;
    color: #474442;
}

.modal-entree-complete {
    width: 690px;
    margin: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    background: #FFFCF5;
    padding: 2em;
    border-radius: 12px;
}

.modal-entree-complete p {
    font-size: 18px;
    line-height: 25px;
    font-family: 'AvenirLTProRoman';
    margin: 10px 0 30px;   
}

.modal-entree-complete h1 {
    padding: 0 !important;
    margin: 20px 0 0 !important;
    font-family: 'ITCAvantGardeProDemi' !important;
    text-transform: uppercase;
}

.modal-entree-complete h2 {
    font-family: 'AvenirLTProRoman' !important;
    margin: 20px 0 10px !important;
    padding: 0 !important;
}

.modal-entree-complete .btn.btn-secondary-small{
    padding: 13px 24px 12px !important;
}

.button-wrapper {
    display: flex;
}

.modal-new-address {
    max-width: 620px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 2.5rem;
    background: #FFFCF5;
    border-radius: 12px;
}

.new-address-wrapper .field-row {
    display: flex;
    gap: 20px;
}

.new-address-wrapper .field-row .field label, .new-address-wrapper .field label {
    display: block;
    font-size: 14px;
    font-family: 'AvenirLTProRoman';
    margin-top: 1.25rem;
}

.new-address-wrapper .field input {
    background: #FFFCF5;
    width: 100%;
}

.new-address-wrapper .field-row .field {
    flex: 1;
}

.new-address-wrapper .field-row:nth-child(2) {
    margin-right: 1.25rem;
}

.new-address-wrapper .field-row:nth-child(2) input {
    width: 50%;
}

.modal-new-address .modal-action {
    margin: 2.5rem 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
}

.modal-new-address .modal-action button {
    flex: 1;
    height: 35px;
    padding: 8px;
    margin: 0;
}

.modal-new-address .modal-action button.btn-address-cancel {
    background: transparent;
    border: 2px solid #474442;
    color: #474442;
    font-size: 18px;
    font-family: 'ITCAvantGardeProDemi';
    border-radius: 24px;
    padding: 6px;
}