.myaccount-page {
    width: 1440px;
    padding: 90px;
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.account-panel-switches {
    width: 30%;
}

section.account-panel-switches h2 {
    font-family: ITC Avant Garde Gothic W03 Md !important;
    text-transform: uppercase;
    margin: 0 !important;
    padding: 20px 0 10px;
    font-size: 24px;
    font-weight: 100;
}

.account-panel-body {
    width: 65%;
    position: relative;
    padding: 40px;
    border-radius: 12px;
    background: #F8EFE0;
}

.account-panel-switch {
    border-bottom: 1px solid #000;
    cursor: pointer;
    font-size: 1.7em;
    padding: 20px 5px;
}

    .account-panel-switch.active, .account-panel-switch:hover {
        font-family: ITC Avant Garde Gothic W03 Md !important;
        border-bottom: 3px solid #000;
        font-weight: 600;
        padding: 20px 0 8px;
    }

.order-table {
    width: 100%;
}

.account-information h1 {
    font-size: 18px;
    font-family: 'ITCAvantGardeProDemi' !important;
    text-transform: uppercase;
    margin: 0 !important;
}

.account-information input, .modal-new-payment input {
    padding: 14px 25px;
    border-radius: 10px;
    border: 2px solid #385F83 !important;
    font-family: 'AvenirLTProRoman';
    font-size: 16px;
    color: #474442 !important;
    display: block;
}

.modal-new-payment input:focus-visible, .account-information input:focus-visible {
    outline: none !important;
}

.myaccount-page button {
    background: transparent !important;
    border: 2px solid #474442 !important;
    color: #474442 !important;
    font-size: 18px;
    font-family: 'ITCAvantGardeProDemi' !important;
    border-radius: 24px;
    padding: 9px 24px 4px !important;
}

button.btn.btn-default.btn-edit {
    color: #474442 !important;
    font-size: 18px;
    border: none !important;
    text-align: left !important;
    padding: 0;
    position: absolute;
    top: 35px;
    right: 40px;
    text-decoration: underline;
    margin: 0 !important;
    padding: 0 !important;
    font-family: "ITC Avant Garde Gothic W03 Md" !important;
    font-weight: 600;
}

button.btn.btn-default.btn-edit img {
    vertical-align: text-bottom;
    margin-left: 10px;
}

.account-information h2 {
    font-family: AvenirLTProBlack !important;
    font-size: 24px;
    margin: 0 !important;
    font-weight: 800;
}

span.info-label, .info-label-field{
    font-size: 14px;
    font-family: 'AvenirLTProRoman';
}

.info-label-field{
    font-family: 'AvenirLTProRoman' !important;
    font-weight: 800 !important;
}

.personal-info-wrapper .info-row {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.personal-info-wrapper {
    width: 85%;
}

.account-information hr {
    border: 1px solid #474442;
    margin: 40px 0;
}

.personal-info-wrapper .info-row:last-child h2:last-child {
    flex: 40%;
}

.personal-info-wrapper .info-row:last-child h2:first-child {
    flex: 60%;
}
.personal-info-wrapper .info-row:last-child {
    display: flex;
    justify-content: flex-start;
}

h1.address-title {
    padding-bottom: 30px;
}

.account-information h2.default-address-label {
    font-size: 14px !important;
    font-family: 'AvenirLTProRoman' !important;
}

.account-information article p {
    font-size: 24px !important;
    line-height: 32px;
    font-family: AvenirLTProBlack !important;
    margin: 0 !important;
}

.address {
    margin: 5px 0 20px;
}

.row-2 .info-label-field{
    width: 100%;
}

.row-2 .info-label-field:first-child{
    margin-right: 20px;
}

.info-label-field input.email-field {
    width: 100%;
}

.info-label-field input.phone-field {
    width: 100%;
}

.account-information .checkbox-temp {
    font-size: 16px;
    color: #474442;
    font-weight: 800;
}

.account-information .btn-primary-small {
    background-color: #FFA877 !important;
    height: 35px !important;
}

.personal-info-wrapper.edit-wrapper button {
    width: 174px !important;
    height: 35px !important;
    padding: 7px 24px 4px !important;
}

.personal-info-wrapper.edit-wrapper {
    width: 100%;
}

.payment-method-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.payment-method-wrapper div{
    flex: 1;
}

.btn-new-payment {
    margin: 40px 0;
}

.payment-method-wrapper .btn-payment-edit, .payment-method-wrapper .btn-payment-remove {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    text-transform: uppercase;
    cursor: pointer;
}

.payment-method-separator{
    border-left: 4px solid #474442;
}

article.payment-method-unit {
    background: #fff;
    padding: 21px 20px;
    border-radius: 6px;
    margin-bottom: 21px;
}

article.payment-method-unit p {
    margin: 0 !important;
    font-size: 14px;
    line-height: 20px;
}

article.payment-method-unit b {
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
}

p.payment-label {
    padding: 0 !important;
    margin: 0 0 5px !important;
    font-size: 14px;
    font-family: 'AvenirLTProRoman';
}

section.account-panel-body h1.ha-h5 {
    text-transform: uppercase;
    font-family: "ITC Avant Garde Gothic W03 Md" !important;
}

.modal-new-payment {
    width: 620px;
    background: #FFFCF5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 12px;
}

.ReactModal__Overlay {
    background-color: #4744428c !important;
}

.modal-new-payment h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'ITC Avant Garde Gothic W03 Md' !important;
    color: #000;
}

input.card-number-field {
    width: 100%;
    margin: 3px 0;
}

.modal-row {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    margin: 1.25rem 0;
}

.modal-row label {
    flex: 50%;
    margin: 0;
    padding: 0;
}

.modal-row label input {
    width: 100%;
}

.modal-new-payment h5 {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}

.modal-row.btn-wrapper {
    justify-content: center;
}

.modal-new-payment .modal-row button.btn {
    height: 35px;
    width: 260px;
    padding: 9px 0 4px;
    font-size: 1.1rem;
    color: #474442;
}

.modal-new-payment .modal-row button.btn.btn-default {
    background: transparent;
    border: 2px solid #474442;
}

.modal-new-payment .modal-row button.btn.btn-primary-small:hover {
    color: #fff;
}

.modal-billing-address .address p {
    margin: 0 !important;
    font-size: 1.5rem;
    line-height: 34px;
    font-family: 'AvenirLTProRoman';
    color: #474442;
}

.modal-billing-address {
    position: relative;
    margin: 2.5rem 0;
}

button.btn.btn-default.btn-edit.btn-modal-edit {
    top: -5px;
    right: 0;
    background: transparent;
    color: #474442;
}
