.order_prop__dropdown {
    border: 1px solid #47444275;
    border-radius: 2px;
    color: #9E9694;
    /* margin-top: 15px; */
    padding: 14px 25px;
    width: 400px;
    background: #FFFCF5;
    border-radius: 10px;
    font-family: AvenirLTProRoman;
    background-repeat: no-repeat;
    background-position: 370px center;
    background-size: 12px;
}

select.order_prop__dropdown:focus-visible {
    outline: none !important;
}

.order_prop__dropdown.disabled {
    border: 2px solid #aaa;
    color: #000;
    opacity: 0.4;
    background-color: #E1E1E0;
}

.illustration-placeholder {
    height: 383px;
    width: 100%;
    display: flex;  
    justify-content: center;
    background: #F8EFE0;
    margin: 3em 0 1em;
    border-radius: 20px;
}

.illustration-total{
    font-family: 'ITC Garamond Std';
    height: fit-content;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 86px;
    color: #474442;
    position: relative;
    right: 19%;
}

.illustration-desc{
    text-transform: uppercase;
    position: relative;
    height: fit-content;
    bottom: 18%;
    left: 22%;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #474442;
}

.illustration-desc-sub{
    text-transform: uppercase;
    position: relative;
    height: fit-content;
    bottom: 14%;
    left: 22%;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #474442;
}

.illustration-desc-division{
    position: absolute;
    left: 67%;
    right: 2%;
    top: 23%;
    border: 2px solid #474442;
}

.illustration-desc-underline{
    position: relative;
    height: fit-content;
    top: -8%;
    left: 14%;
    font-style: normal;
    font-size: 22px;
    color: #474442;
}

.illustration-section{
    position: absolute;
    left: 58%;
    right: 2%;
    top: 37%;
    bottom: 33%;
    border: 3px solid #474442;
    border-radius: 15px;
}

.illustration-image-section{
    display: flex;
    margin-top: -8%;
    margin-left: 46%;
}

.illustration-flex{
    margin-top: -6%;
}

.illustration-trad{
    margin-top: -20%;
}

.illustration-flex-section{
    display: flex;
    margin-left: 65%;
}

.illustration-small-plate{
    padding-right: 6%;
}

.illustration-large-plate{
    padding-right: 5%;
}

.illustration-flex-person{
    position: absolute;
    left: 55%;
}

.illustration-section-img {
    position: relative;
    left: 12%;
    top: 14%;
}

.illustration-section-img-1 {
    position: relative;
    left: 6%;
    top: 18%;
}

.illustration-section-img-2 {
    position: relative;
    left: 6%;
    top: 22%;
}

.illustration-section-text{
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-left: 10px;
    color: #474442;
}

.illustration-section-badge {  
    background: #000;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    top: 20px;
    right: -42px;
    padding: 5px 5px;
    position: relative;
    width: 22px;
    height: 22px;
    font-family: 'AvenirLTProRoman';
    font-weight: bold;
}

.illustration-section-badge-hidden {  
    visibility: hidden;
    font-size: 12px;
    height: 22px;
}

#OrderProperties label{
    font-size: 14px;
    display: block;
}

section#OrderProperties .step-column:first-child {
    flex: 38%;
}

section#OrderProperties .step-column:nth-child(2){
    flex: 28%;
}

section#OrderProperties .btn-app {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.default-padding{
    padding: 2em 0 !important;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

.order--properties .Polaris-Layout__Section:nth-child(2) {
    margin: 2em 0 0 !important;
}

.scheme-inactive-padding{
    margin: 40px 0 0 !important;
    opacity: 0.5;
}

div .order-wrapper {
    max-width: 1260px;
    margin: auto;
}

@media screen and (max-width: 960px){
    .dish-card-wrapper:first-child section.step-section{
        flex-flow:column;
    }

    .illustration-placeholder {
        height: auto;
        margin: 1rem 0;
    }

    section#OrderProperties {
        gap: 0;
    }

    section#OrderProperties .default-padding{
        padding-top: 0;
    }

    button.btn.btn-primary-small.btn-app {
        display: block;
        width: 100%;
    }

    .dish-card-wrapper.order--properties{
        padding: 0 0 1rem 0;
    }

    button.btn.btn-cancel {
        right: 0;
        top: 55px;
        text-align: right;
    }

    /* .select-wrapper {
        padding-bottom: 2rem;
    } */

    .dish-card-wrapper.step-active:after{
        top: 40px;
    }

    .dish-card-wrapper section.step-section .p-subheading-width {
        width: 100%;
        font-size: 1rem;
        line-height: 1.625rem;
    }

    section#OrderProperties .btn-app{
        font-size: 16px;
    }

    .button-group {
        flex-wrap: nowrap;
        overflow: auto;
    }

    button.button-group--item.filterButton {
        width: 100%;
        white-space: nowrap;
        margin-left: 0.5rem;
    }

    .dish-card-item .dish-card{
        width: 100%;
        flex: 1;
        grid-auto-rows: 1fr;
    }

    main#mainContent .dish-card-wrapper .layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3px !important;
    }

    .dish-card-item .card__info-section h2, .card__quantity-title{
        font-size: 14px;
        line-height: 16px;
    }

    .dish-card-item .card__info-section p.dish-description{
        font-size: 11px;
        line-height: 16px;
    }

    .dish-card-item .dish-image{
        height: 120px;
    }

    .dish-card-item .card__info-section p.card__servings-disclaimer{
        font-size: 11px;
        display: block;
        text-align: left;
        position: relative;
        float: none;
        right: 0;
        display: none;
    }

    .dish-card-item p.card__code{
        font-size: 11px;
        display: block;
        text-align: left;
    }

    .dish-card-item .card__info-section {
        min-height: 10rem;
        padding: 0.625rem;
    }

    .dish-card-item .card__code {
        margin-top: 1.5rem;
        position: relative;
    }

    .ReactModal__Content.ReactModal__Content--after-open.modal-entree-complete {
        width: 90%;
    }

    .ReactModal__Content.ReactModal__Content--after-open.modal-entree-complete .btn.btn-primary-small,.ReactModal__Content.ReactModal__Content--after-open.modal-entree-complete  .btn.btn-secondary-small{
        width: 100%;
        margin-bottom: 1rem;
    }

    .dish-card-item .card__quantity-wrapper {
        position: fixed;
        width: 100%;
        margin: auto;
        height: 50%;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 21.5625rem;
        border: 3px solid #385F83;
    }
}