.order-summary {
    bottom: 0;
    position: fixed;
    right: 40px;
    width: 380px;
    z-index: 99;
}

@media screen and (max-width: 860px){
    section.order-summary {
        width: 100%;
        left: 0;
    }
}

    .order-summary--inner {
        background-color: #fff;
        box-shadow: 1px 1px 10px #aaa;
        border-radius: 10px 10px 0 0;
    }

    .order-summary--toast {
        background-color: #385F83;
        border-radius: 20px;
        color: #fff;
        font-weight: 500;
        margin-bottom: 0;
        opacity: 0;
        transition: opacity .5s linear, margin .5s ease-in-out;
        padding: 5px 15px;
        text-align: center;
    }

    .order-summary--toast.visible {
        opacity: 1;
        margin-bottom: 10px;
    }

    .order-summary__heading {
        background-color: #385F83;
        font-weight: 700;
        font-size: 18px;
        padding: 24px 20px;
        color: #FFFCF5;
        font-family: 'AvenirLTProBlack' !important;
        border-radius: 10px 10px 0 0;
    }

    .order-summary--items {
        border-bottom: 2px solid #474442;
        margin: 5px 0 0 0;
        padding: 20px 0 !important;
        padding-inline-start: 20px;
    }

    .order-summary--items h4{
        font-family: AvenirLTProRoman !important;
        font-size: 18px;
        font-weight: bold;
        margin: 0;
    }

    .order-summary--inner h3 {
        margin: 0 !important;
        cursor: pointer;
    }

        .order-summary--item {
            color: #828282;
            list-style-type: none;
            padding-inline-start: 0;

        }

            .order-summary--item-value {
                float: right;
            }

        .order-summary--item-mod {
            clear: both;
        }


    .order-summary--total {
        padding: 20px 0 !important;
        font-size: 18px;
        font-weight: 700;
    }

section.order-summary--enlarged-items {
    padding: 20px;
    background: #F8EFE0;
}
 
section.order-summary--items ul {
    padding-left: 1em !important;
}

section.order-summary--items ul li {
    color: #474442; 
    font-style: italic;
    padding: 3px;
    font-size: 16px;
}

.order-summary__hidden {
    background: #FFFCF5;
    color: #474442;
    border-radius: 10px 10px 0 0 !important;
    transition: background-color .25s ease-in;
}

.order-summary__hidden.show-toast {
    background-color: #385F83;
    color: #fff;
    font-size: 1.1em;
    transition: background-color .25s ease-in;
}

.order-summary--items h4 span {
    float: right;
}

span.price--extra-addon {
    float: right;
    font-size: 16px;
    font-family: 'AvenirLTProBlack';
    line-height: 22px;
}

.icon-plus-alt {
    width: 15px;
    margin-left: 6px;
    vertical-align: top;
}

.icon-arrow-alt {
    width: 15px;
    margin-left: 6px;
    vertical-align: top;
}

.main--items-scheme ul li span {
    font-size: 16px;
    font-style: normal;
}

.payment-wrapper .order-summary {
    bottom: 0;
    position: relative;
    right: 0;
    width: 100%;
    z-index: 99;
    left: 0;
    cursor: default;
    float: right;
    max-width: 25.4375rem;
    min-width: 10rem;
}

@media screen and (max-width: 860px){
    .dishcard--wrapper-inactive .suborder--summary-container{
        flex-flow: column;
        gap: 0;
    }

    .summary-container {
        max-width: 100%;
    }
}

.payment-wrapper .order-summary.disabled{
    cursor: unset;
    opacity: 0.6;
    transition: opacity 0.1s linear 0s;
    pointer-events: none;
}

.payment-wrapper .order-summary--inner{
    box-shadow: none;
}

.payment-wrapper main:first-child {
    flex: 2;
}

.payment-wrapper h3.order-summary__heading.order-summary__hidden {
    background: #385F83;
    color: #FFFCF5;
}

.payment-wrapper section.order-summary--enlarged-items {
    cursor: default;
    border-radius: 0 0 10px 10px;
}

.payment-wrapper .layout {
    flex-flow: column;
    justify-content: flex-start;
    margin: 0;
}

.payment-wrapper h2.order_delivery__window-title {
    padding: 0;
    margin: 0;
}

.payment-wrapper .layout-section {
    width: 100%;
}

@media screen and (max-width: 960px){

    .payment-wrapper .order-summary{
        max-width: 100%;
    }
    .page .payment-wrapper{
        flex-flow: column;
        width: 100%;
    }

    .delivery-date_container .delivery-date_item{
        font-size: 20px;
        line-height: 24px;
    }

    .checkout--delivery-window-actions button.btn.btn-primary-small.btn-app {
        font-size: 14px;
        height: 45px;
    }

    .checkout--delivery-window-selectors .order_delivery__dropdown{
        width: 100%;
        background-position: 98%;
    }

    div .delivery-date_container {
        margin: 1.875rem 0 1.25rem;
    }

    div .checkout--delivery-window-selectors{
        margin-bottom: 1.875rem;
    }

    div .contact-info p{
        font-size: 20px;
    }

}

section.checkout--deliveryinfo-top {
    margin-top: 1.875rem;
}

