.schemeType {
    cursor: pointer;
    font-size: 28px;
    margin-right: 25px;
    text-transform: uppercase;
    font-family: "ITCAvantGardeProDemi";
}

.schemeType.active, .schemeType:hover {
    font-weight: bold;
    border-bottom: 3px solid #464442;
    font-family: "ITCAvantGardeGothicDemiBold";
}

section#SchemeSelector {
    margin: 40px 0 30px;
    position: relative;
}

section#SchemeSelector img.badge {
    position: absolute;
    top: -35px;
    left: 465px;
}

.ss-no-underline{
    border-bottom: none !important;
}

span.badge {
    margin-left: -0.7rem;
}

@media screen and (max-width: 960px) {
    .schemeType {
        font-size: 18px;
        margin: 0 1rem 0 0;
    }

    section#SchemeSelector {
        margin: -1rem 0 0;
        position: relative;
    }

    .order_prop__dropdown{
        background-position-x: 95%;
        width: 100%;
    }

    /* .dish-card-wrapper{
        border-bottom: none;
    } */
}

@media screen and (max-width: 360px){
    section#SchemeSelector{
        margin-top: 0;
    }
}